/***************************
    General Styling
****************************/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(247, 247, 247, .9);
}



.logged_in {
    background-color: rgba(247, 247, 247, .9);
}

.logo {
    color: orangered !important;
    font-size: 1.3em;
    font-weight: 100;
}

.are_you_sure {
    font-size: 1.5em;
    color: orangered;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table_headers{
    font-size: 2em;
    font-weight: 400;
}

.table_data {
    font-size: 2.5em;
    font-weight: 100;
}

/***************************
    Project View
****************************/

.project_list {
    text-decoration: none;
    color: black;
}

.projects_add_new{
    margin-top: 4em;
}



/*Hides double border in accordian table*/
.hiddenRow {
    padding: 0 !important;
}


/***************************
    Landing page style
****************************/

/*landing page background image*/
.body_login_page{
    background-image: url("../images/landing.jpg");
    background-size: cover;
}

/*landing page text*/
.welcome {
    color: white;

}

.page_header {
    font-size: 6em;
    font-weight: 900;
    margin-bottom: .5em;
}



/*landing page typography*/
.page_info {
    font-size: 1.5em;
    font-weight: 100;
}

.create_account {
    margin-top: 3rem; 
    color: orangered;
}

hr {
    border-color: orangered;
}

/***************************
   Projects Style
****************************/

.projects_info {
    margin-bottom: 2em;
}