
@{
    ViewData["Title"] = "CreateAProject";
}

<h2>It looks like you don't have any projects yet.</h2>
<p> Thats ok. Creating a new project is really easy.</p>
<p>Click the button below to get started.</p>

<a class="btn btn-success" asp-action="Create">Create a Project</a>
