@model IEnumerable<designhub.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center page_header"> Projects</h2>
<p class="text-center page_info projects_info">Select one of the projects below to see the files inside</p>


<table class="table">
    <thead>
        <tr>
                <th class="table_headers">
                  Name of Project
                </th>
                <th class="table_headers">
                    Date Created
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table_data">
                <a class="project_list" asp-controller="DocumentGroups" asp-action="index" asp-route-id="@item.ProjectID"> @Html.DisplayFor(modelItem => item.Name) </a>
            </td>
            <td class="table_data"> 
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td >
                <a asp-action="Delete" asp-route-id="@item.ProjectID" class="btn btn-lg btn-default">Remove Project</a>
            </td>
        </tr>
}
    </tbody>
</table>


<p class="text-center page_info projects_info projects_add_new">Adding a new project is easy! Just click this button.</pclass="text-center>
<p class="text-center">
    <a asp-action="Create" class="btn btn-lg btn-default">Create New Project</a>
</p>
