@model designhub.Models.DocumentGroupViewModels.EmptyProjectViewModels


@{
    ViewData["Title"] = "EmptyProject";
}

<h2>This Project is empty</h2>

<p>It appears that this project doesnt contain any files.</p>
<p>Click the button below to add some files. </p>
<a class="btn btn-success" asp-action="Create" asp-route-id="@Model.ProjectID">Add Some Files</a>
